<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <!-- <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>  --> 
      <tr>              <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:15</td>        <!-- time    -->
        <td>Automated Version Control</td>        <!-- content -->
      </tr>
      <tr>               
        <td>09:30</td>        
        <td>Setting Up Git</td>        
      </tr>
      <tr>               
        <td>10:00</td>        
        <td>Creating a Repository</td>        
      </tr>
      <tr>               
        <td>10:30</td>        
        <td>Tracking Changes</td>        
      </tr>
      <tr>               
        <td>11:00</td>        
        <td>Break</td>        
      </tr>
      <tr>               
        <td>11:15</td>        
        <td>Exploring History</td>        
      </tr>
      <tr>               
        <td>12:15</td>        
        <td>Ignoring Things</td>        
      </tr>
      <tr>               
        <td>12:45</td>        
        <td>Feedback and concluding remarks</td>        
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Recap of day 1</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:30</td>        <!-- time    -->
        <td>Creating branches</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               
        <td>11:15</td>        
        <td>Remotes in GitHub</td>        
      </tr>
      <tr>               
        <td>11:45</td>        
        <td>Collaborating</td>        
      </tr>
      <tr>               
        <td>12:45</td>        
        <td>Feedback and concluding remarks</td>          
      </tr>
      <!-- <tr>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr> -->
    </table>
  </div>
</div>
